<div id="<%= place.id %>" class=" box <%= col_size %> ">
  <%= link_to image_tag(place.picture), place %>
  <div class="place-name"><h3><%= place.name %></h3></div>
  <div class="place-description"><%= short_descr(place.description) %></div>
</div>