<!DOCTYPE html>
<html>
  <head>
    <title>Places</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div id="flashMessages">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info"%>
    <% end %>
  </div>
  <%= render 'places/place_form' %>
  <%= render 'layouts/header' %>

  <div class="container content">
    <%= yield %>
  </div>
  </body>
</html>
<script type="text/javascript">
    $('.show-places-form').click(function () {
        var form_id = $('#' + $(this).attr("rel"));
        $(form_id).show();
        $('.place-form').show();

    })
    $('.close-form').click(function () {
        $('.place-form, #background-places_form').hide();

    })

</script>